*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.text
{
    position: absolute;
    top: 5%;
    left: 5%;
    padding: 15px;
    border-radius: 30px;
    background: rgba(255, 49, 97, 0.205);
    color: hsl(335, 100%, 35%);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 1.3em;
    font-weight: 850;
    font-size: 17px;
}
